#ignore
tests/*
a*
build/*
config.h*
config.guess
config.log
config.nice
config.status
config.sub
configure.in
include/*
in*
l*
Make*
m*
modules/*
peanut_blog.l*
*.txt
*.ini
.deps
.libs/*
run-tests.php
